.ipynb_checkpoints
__pycache__/
*.egg-info
*test*
notebooks/local_nb.ipynb
robstat/data/xd_vis_extd*.npz
robstat/data/xd_vis_all*.npz
robstat/data/data_descriptions_extd.txt
R_scripts/
figures/
robstat/data/loc_res/
